<form action="/celebrities" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="occupation">Job</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">most used phrase</label>
  <textarea type="text" name="catchPhrase" id="catchPhrase"></textarea>

  <button type="submit">Add Celebrity</button>
</form>
