<h1> What to watch this year </h1>

<ul>
  <% movies.forEach((movie) => { %>
    <li>
      <%= movie.title %>
      <a href="/movies/<%= movie._id %>">Details</a>
      <a href="/movies/<%= movie._id %>/edit/">Edit</a>
      <a href="/movies/<%= movie._id %>/delete/">Delete</a>
    </li>
  <%  }) %>
  <a href="movies/new">New</a><br>
  <a href="celebrities">Switch to Celebrities</a>
</ul>
